* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.main-heading {
    width: auto;
    height: 450px;
    background-image: url(images/rumman-amin-LNn6O_Mt730-unsplash.jpg);
    padding-top: 150px;
    padding-right: 50px;
    margin-bottom: 20px;
}

div h1 {
    font-size: 3em;
    font-weight: 100;
    color: white;
    text-align: right;
}

#recipe-tile {
    display: inline-block;
    width: 200px;
    height: 200px;

    padding: 70px;
    margin: 20px 10px ;
    border-style: solid;
    border: 1px;
    background-color: rgb(224, 224, 224);
    text-align: center;
    
}